.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgb(255, 217, 0);
}

.title {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(34, 34, 34);
}

.headerContainer span {
  cursor: pointer;
  color: rgb(34, 34, 34);
}

.cartBtn {
  border: none;
  background-color: transparent;
  color: rgb(34, 34, 34);
  cursor: pointer;
}

.cartBtn span {
  font-size: 3.5rem;
}

.quantityOfItems {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  right: 11px;
  top: 8px;
  background-color: rgb(255, 0, 0);
  font-size: 1.4rem;
  color: white;
  font-weight: 700;
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.searchProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 1.5rem;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  padding: 0.8rem;
  background-color: aliceblue;
}

.searchProduct button,
input {
  font-size: 1.6rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.searchProduct input {
  width: 90%;
}

.searchProduct button {
  cursor: pointer;
}

.categories {
  position: absolute;
  top: 0;
  margin-top: 6.7rem;
  left: -255px;
  display: flex;
  flex-direction: column;
  transition: 600ms;
  transition-property: left;
}

.categoriesOpen {
  position: absolute;
  top: 0;
  margin-top: 6.7rem;
  display: flex;
  left: 0;
  flex-direction: column;
  transition: 600ms;
  transition-property: left;
  height: calc(100vh - 6.7rem);
  overflow-y: scroll;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 1;
}

.categories button,
.categoriesOpen button {
  padding: 1.5rem;
  text-align: start;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  color: rgb(54, 54, 54);
}

.productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem;
}

.products {
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid rgb(219, 219, 219);
  background-color: white;
  transition: 0.35s;
}

.products img {
  max-width: 12rem;
  max-height: 15rem;
  margin-right: 0.5rem;
}

.productPrice {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1.5rem 0;
  color: rgb(20, 0, 202);
}

.productTitle {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.productPrice span {
  font-weight: 400;
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

.loading {
  margin: 2rem 0;
  font-size: 1.6rem;
  text-align: center;
}

.productInfo {
  font-size: 2rem;
  text-align: end;
  width: 60%;
}

.buyBtn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 70%;
  padding: 1rem;
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
  background-color: rgb(0, 136, 129);
  transition: 0.2s;
}

@media (min-width: 500px) {
  .productInfo {
    font-size: 2.5rem;
  }
  .products img {
    width: 14rem;
    height: 14rem;
  }
}

@media (min-width: 700px) {
  .headerContainer {
    padding: 2.5rem;
  }
  .headerContainer span {
    font-size: 3rem;
  }
  .quantityOfItems {
    right: 20px;
    top: 18px;
  }
  .categories {
    margin-top: 8.1rem;
  }
  .categoriesOpen {
    margin-top: 8.1rem;
  }
  .products {
    height: 40.8rem;
    flex-direction: column;
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
  }

  .buyBtn {
    margin: 0 auto;
  }

  .buyBtn:hover {
    background-color: rgb(0, 175, 166);
  }

  .searchProduct {
    width: 80%;
  }

  .productsContainer {
    margin: 0 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, auto));
    gap: 3rem;
  }
}

@media (min-width: 900px) {
  .searchProduct {
    width: 80rem;
  }

  .products:hover {
    transform: scale(1.05);
  }
  .productsContainer {
    margin: 0 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, auto));
    gap: 3rem;
  }
}
